@import url('https://fonts.googleapis.com/css?family=Oxygen|Raleway|Maitree');



/************* Eric Meyer CSS Reset ***************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 3;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******** Additional resets *********/
a { text-decoration: none; }
em { font-style: italic; }
strong { font-weight: bold;}
article img { max-width: 80% }
* { box-sizing: border-box; }

/************** End CSS Reset ************/

body {
	font-size: 1em;
	font-family:'Maitree', sans-serif;
	color: #565656;

}


.wrapper {
	width:900px;
	margin:auto;
	overflow:hidden;
	padding:40px 0;
}

.focus-color{
	color: #1abc9c;
}

/*********** Colors ***********


dark turqoise: #16a085;007B63
light turqoise: #1abc9c;

mint green focus: #48D1CC;
grey text: #434343;

********************************/



/****************** Grid ******************/

.row:after {
			content:" ";
			clear:both;
			display: table;
    	margin-bottom: 40px;
		 }

.row{
	padding-bottom: 60px;

}

#about .wrapper .row{
	padding:0px;
}
.column { float: left; }
.column:first-of-type { margin-left:0; }

.full { width: 100%; }
.half { width: 48%; }
.one-quarter { width:22%; }
.one-third { width:33%; }
.two-thirds {	 width:60%;}
.three-quarters { width:74.0%; }


/************* Typography ************/

h1, h2, h3, h4 {
	font-weight:bold;
}

h1 {
	font-size:500%;
	margin-bottom:1em;
	text-transform: uppercase;

}

h2 {
	font-size:170%;
	margin: 0em;
	padding: 0em;
	}

h4 {
	font-size: 200%;
}

a {  }

.social { font-size:175%; }

.centered { text-align:center; }

p {
	font-size: .8em;
	letter-spacing: 0;
}

hr{
  width: 3.125em;
	height: .25em;
	background-color: #1abc9c;
	border: 0;

	max-width: 100px;
	margin: 0px;
	margin-bottom: 3em;
}

#contact .column{
	padding-left: 4px;
}

/*************** Header and Main Navigation *************/




#header{
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;

	background-color: white;

	text-align:center;
	align-items: center;
	justify-content: center;
	clear: both;

}

#smaller-title{
	display: none;
}



#mainnav {
	width:100%;
  height: 50px;
  /****** box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.2);*****/
	margin-top: 8em;
}


#mainnav ul {
	display: flex;
align-items: center;
justify-content: center;
text-align: center;
}

#mainnav ul li a {
	display: inline-block;
	color: #1abc9c;
	padding:0 20px;
	font-size:1em;
	letter-spacing: .3em;
}

#mainnav ul li a:hover{

	transition: .5s;
	color:#007B63;
}

#mainnav ul li:first-of-type a {
	border:none;
}

#mainnav ul li:last-of-type a {
	padding-right:0;
}


/********************* Subtle selector etc ************************/

a:hover{
	 text-decoration: none;
}

::selection {
		color: white;
		background: #80c9c3;
}


article img:hover{
	opacity: .8;
	transform-origin: center;

	transform: scale(1.05);
	transition: .5s ease;

	-webkit-box-shadow: 5px 8px 23px 0px rgba(52, 130, 88, 0.39);
	-moz-box-shadow:    5px 8px 23px 0px rgba(52, 130, 88, 0.39);
	box-shadow:         5px 8px 23px 0px rgba(52, 130, 88, 0.39);}

article img{
transition: .5s ease-out;
}


#bgpic::after{
	opacity: 1;

}



/********************* Input Footer ************************/

.input-box{
	border-radius: 5px;

}

.input-box #comments{
	height: 50px;
}

/********************* Media Queries ************************/


/********* Medium device *********/
@media screen and (min-width: 375px) and (max-width: 980px) {


	.half{
		width: 100%;
	}

	.two-thirds{
		width: 100%;
	}
	.one-third{
		width: 100%;
	}

	.three-quarters{
		width: 100%;
	}

	.column {
		text-align: center;
		margin-left: 0;
	}
 .wrapper {
	 width: 80%;
 }

	article{
		max-width: 100%:
	}

	h2{
		text-align: center;
	}

	hr{
		width: 3.125em;
		height: .25em;
		background-color: #1abc9c;
		border: 0;
		max-width: 100px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 3em;
	}

}


/********* Medium device end*********/

/********* Small device start*********/


@media screen and (min-width: 0px) and (max-width: 375px) {

	.mobile-row:after {
				content:" ";
				clear:both;
				display: table;
	    	margin-bottom: 40px;
			 }

	.mobile-row{
		padding-bottom: 60px;

	}


	#mainnav {
		margin-top: 0;

	}

	#mainnav ul {
	display: block;
	text-align: center;
	}

	#mainnav ul li a {
		display: block;
		color: #1abc9c;
		padding:0;
		font-size:1.5em;
		letter-spacing: .3em;
	}

	#mainnav li a:hover{


	}

	#mainnav li a:selection{

	}

	#mainnav{
	}


	img{
		max-width: 100%;
	}
	#big-title{
		display: none;
	}

	#smaller-title{
		display: inherit;
}

}

	.half{
		width: 100%;
	}
	.two-thirds{
		width: 100%;
	}
	.one-third{
		width: 100%;
	}
	.wrapper{
		width: 100%;
		margin: 0;
	}
	p{
		font-size: 1em;
	}
	article{
		max-width: 100%;
	}

		h2{
			text-align: center;
		}

		hr{
			width: 3.125em;
			height: .25em;
			background-color: #1abc9c;
			border: 0;
			max-width: 100px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 3em;
		}

		.column {
 		 text-align: center;
 		 margin-left: 0;
 	 }
 	.wrapper {
 		width: 100%;
 	}

	img:hover {
		box-shadow: 0 0 0;
	}

	h1{
		font-size: 500%;
		line-height: 1em;

	}

	html{
		margin: 4px;
	}

	.column { float: center; }
	.column:first-of-type { margin: auto; }
}



	/********* Small device end*********/
